$mdc-ext-data-table-header-row-padding: 35px;
$mdc-ext-data-table-data-row-padding: 27px;
$mdc-ext-data-table-divider-color-light: rgba(0, 0, 0, .12) !default;
$mdc-ext-data-table-divider-color-dark: rgba(255, 255, 255, .2) !default;
$mdc-ext-data-table-hover-background-color-light: rgba(0, 0, 0, .04) !default;
$mdc-ext-data-table-hover-background-color-dark: rgba(255, 255, 255, .08) !default;
$mdc-ext-data-table-column-spacing: 36px !default;
$mdc-ext-data-table-column-padding: $mdc-ext-data-table-column-spacing / 2;
$mdc-ext-data-table-first-last-column-padding: 24px !default;
