$mdc-ext-multiselect-error-on-light: #d50000;
$mdc-ext-multiselect-error-on-dark: #ff6e6e;
$mdc-ext-multiselect-divider-on-light: rgba(black, .12);
$mdc-ext-multiselect-divider-on-dark: rgba(white, .12);
$mdc-ext-multiselect-disabled-border-on-light: rgba(#231f20, .26);
$mdc-ext-multiselect-disabled-border-on-dark: rgba(white, .3);
$mdc-ext-multiselect-underline-on-light: rgba(black, 1);
$mdc-ext-multiselect-underline-on-light-idle: rgba(black, .5);
$mdc-ext-multiselect-underline-on-dark: rgba(white, 1);
$mdc-ext-multiselect-underline-on-dark-idle: rgba(white, .5);
$mdc-ext-multiselect-dark-background: rgba(48, 48, 48, 1);
$mdc-ext-multiselect-dark-label: rgba(white, .6);
$mdc-ext-multiselect-light-background: rgba(white, 1);
$mdc-ext-multiselect-light-label: rgba(black, .6);
