$mdc-ext-date-picker-underline-on-light: rgba(black, 1);
$mdc-ext-date-picker-underline-on-light-idle: rgba(black, .5);
$mdc-ext-date-picker-underline-on-dark: rgba(white, 1);
$mdc-ext-date-picker-underline-on-dark-idle: rgba(white, .5);
$mdc-ext-date-picker-dark-background: rgba(48, 48, 48, 1);
$mdc-ext-date-picker-dark-label: rgba(white, .6);
$mdc-ext-date-picker-dark-placeholder: rgba(white, .3);
$mdc-ext-date-picker-light-background: rgba(white, 1);
$mdc-ext-date-picker-light-label: rgba(white, .7);
$mdc-ext-date-picker-light-placeholder: rgba(black, .38);
